@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2.5;
  font-weight: 400;
  color: #ffffff;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  background: black;
  min-width: 320px;
  min-height: 100vh;
}

/*background: linear-gradient(34deg, rgba(63, 94, 251, 0.4) 0%, rgba(252, 70, 107, 0.1) 100%);*/

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: linear-gradient(34deg, #E50914 30%, #E50914 70%);
  border-radius: 30px;
  border: 1px solid inherit ;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border: 1px solid #ff648d;
  background: #000;
  color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


